---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Blog | My Astro Site">
    <h1>My Astro Learning Blog</h1>
    <h2>This is where I'll post about my journey learning Astro</h2>

    <p>This page will be updated as I add more blog posts throughout the tutorial.</p>

    <ul>
        <li><a href="#">Post 1</a></li>
        <li><a href="#">Post 2</a></li>
        <li><a href="#">Post 3</a></li>
    </ul>
</MainLayout>
